<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ODataSwiftExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B85BED4523BDF6C4006CD507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B85BED5B23BDF6C8006CD507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B85BED6623BDF6C8006CD507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
